main
    background-color: $color-secondary-light
    padding-bottom: 100px

#info
    padding: 200px
    color: black
    +anton-font
    font-size: 2em

#recipes
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin: 0px 60px 60px 60px

.recipe
    flex: 0 0 90%
    +mq(md)
        flex: 0 0 47%
    +mq(lg)
        flex: 0 0 31%
    position: relative
    background-color: white
    border-radius: 15px
    margin-top: 30px
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04)
    &__content
        padding: 20px
        display: flex
        flex-direction: column
    &__title
        +anton-font
        color: black
        font-size: 1.1em
    &__text
        height: 90px
        overflow: hidden
        &-title
            color: $color-secondary
            font-size: 0.8em
            margin-top: 30px
    &__img
        width: 100%
        height: 250px
        object-fit: cover
        border-top-left-radius: 15px
        border-top-right-radius: 15px
        &-overlay
            z-index: 3
            position: absolute
            background-color: $color-primary
            padding: 5px 15px
            border-radius: 10px
            top: 3%
            right: 7%
            font-size: 0.7em
    &__ingredients
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 20px
        &-context
            width: 48%
            margin: 10px 0
        &-subtext
            color: $color-secondary