header
    display: flex
    
.header
    &__background
        object-fit: cover
        height: 370px
        width: 100%
        position: relative
    &__logo
        +anton-font
        color: white
        position: absolute
        top: 0
        margin-left: 50px
    &__content
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 10%
        flex-direction: column
        width: 100%
        &-title
            color: $color-primary
            +anton-font
            font-size: 1.6em
            text-align: center
            width: 55%
    &__subcontent
        width: 66%
        display: flex
        align-items: center
        justify-content: center
        color: grey
        &-input
            color: grey
            font-size: 1em
            height: 45px
            border: none
            border-radius: 5px
            width: 100%
            padding-left: 30px
        &-searchicon
            background-color: black
            padding: 8px
            margin-left: -45px
            z-index: 1
            font-size: 1.3em
            border-radius: 10px

main
    background-color: $color-secondary-light

#recipes
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin: 0 60px

.recipe
    flex: 0 0 31%
    height: 40%
    position: relative
    background-color: white
    border-radius: 15px
    margin-top: 25px
    &__content
        padding: 20px
        display: flex
        flex-direction: column
    &__title
        +anton-font
        color: black
        font-size: 1.1em
    &__text
        height: 90px
        overflow: hidden
        &-title
            color: $color-secondary
            font-size: 0.8em
    &__img
        width: 100%
        height: 200px
        object-fit: cover
        border-top-left-radius: 15px
        border-top-right-radius: 15px
        &-overlay
            z-index: 3
            position: absolute
            background-color: $color-primary
            padding: 5px 15px
            border-radius: 10px
            top: 7%
            right: 7%
            font-size: 0.7em
    &__ingredients
        //flex: 0 0 48% 
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        &-context
            width: 50%
        &-subtext
            color: $color-secondary
               

            


            
            

            
        


